<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.senon.mvpretrofitrx">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application

        android:name="com.qingyun.mvpretrofitrx.mvp.utils.ApplicationUtil"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme"
        tools:replace="android:theme,android:icon">


        <service
            android:name="com.qingyun.mvpretrofitrx.mvp.websocket.JWebSocketClientService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.qingyun.mvpretrofitrx.mvp.websocket.JWebSocketClientService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />



        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TheArticleDetailsActivity"></activity>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ExpressTheDetailsActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ThewalletManagementActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.GeneralAssetsActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TradingRecordActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.InvitefriendsActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SupportActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SystemSettingsActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AboutUsActivity" />
        <activity
            android:name="com.qingyun.mvpretrofitrx.mvp.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.qingyun.mvpretrofitrx.mvp"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>

        </activity>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TransferActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.MakeCopyWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.MakeCopyCommemorationActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ConfirmCommemorationActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TransferImmediateActivity"
            android:exported="true"
            />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ContactActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.InvestLogActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AddNewContactActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.GetMoneyActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ChangeWalletPasswordActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AssetDetailActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ExportPrivateKeyActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ExportKeystoreActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AssetWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.CreateWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.QuickExchangeActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ChooseBottomLsvelActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.CreateMyWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportByPrivatekeyActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ObserveWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportByCoolWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportByCommemorationActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportByKeystoreActivity" />

        <service android:name="com.qingyun.mvpretrofitrx.mvp.weight.dialog.CommonDialogService" />

        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AddCoinActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.PlatformNoticActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ScanActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.NoticeDetailActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.BusinessDetailActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ChooseLanguageActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.NodeSettingActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.MyWebViewActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SupportWebViewActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.CoinUnitActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.WalletManagerActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.PushAndNotifyActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AssetReviewActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.BusinessLogActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ScanQrCodeActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SearchActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.WebActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ChooseBottomLevelActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportScanActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.BusinessGetMoneyActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SettingPriceActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.BuyerPayActivity"/>
        <activity android:name="com.zbar.lib.CaptureActivity"/>

        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TokenProfileActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.InvestActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.BusinessGetMoneyLogActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ChooseBottomLsvelToCreateActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.RechargeExplainActivity"/>

        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.GroupMessageActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.CreateGroupChatActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.AddressBookActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.MyQrcodeActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.GroupInfoActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.GroupShareActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.GroupMemberActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.GroupTransferActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.AddFriendsActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.AddFriendsAddActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.FriendsMessageActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.ScanActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.AddGroupAddActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.AddFriendsApplyActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.rongyun.SetBeizhuActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.rongyun.FriendsSettingActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.rongyun.ContactDetailActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.rongyun.ChooseContactActivity"/>


        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.rongyun.GroupChatInfoActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.rongyun.CreateRyunGroupActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.ChatAcrivity"

            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"


            >


        </activity>

        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.MyChatActivity"

            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.chat.GroupChatActivity"/>
        <service android:name="com.qingyun.mvpretrofitrx.mvp.service.WebSocketService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qingyun.wallet.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>


        <!--<activity-->
            <!--android:name="com.qingyun.mvpretrofitrx.mvp.fragment.RYunChatActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustResize">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->

                <!--<data-->
                    <!--android:host="com.qingyun.et"-->
                    <!--android:pathPrefix="/conversationlist"-->
                    <!--android:scheme="rong" />-->
            <!--</intent-filter>-->
        <!--</activity>-->


        <activity
        android:name="com.qingyun.mvpretrofitrx.mvp.activity.rongyun.FriendChatActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden|adjustResize">
        <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data
        android:host="com.qingyun.et"
        android:pathPrefix="/conversation"
        android:scheme="rong" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.qingyun.mvpretrofitrx.mvp.activity.rongyun.SystemMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.qingyun.et"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>


        <!-- push start-->
        <receiver
            android:name="com.qingyun.mvpretrofitrx.mvp.receiver.SealNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />

            </intent-filter>
        </receiver>

    </application>

</manifest>