<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.senon.mvpretrofitrx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.qingyun.mvpretrofitrx.mvp.utils.ApplicationUtil"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme"
        tools:replace="android:theme,android:icon">
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TheArticleDetailsActivity"></activity>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ExpressTheDetailsActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ThewalletManagementActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.GeneralAssetsActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TradingRecordActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.InvitefriendsActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SupportActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SystemSettingsActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AboutUsActivity" />
        <activity
            android:name="com.qingyun.mvpretrofitrx.mvp.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.MainActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TransferActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.MakeCopyWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.MakeCopyCommemorationActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ConfirmCommemorationActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.TransferImmediateActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ContactActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AddNewContactActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.GetMoneyActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ChangeWalletPasswordActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AssetDetailActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ExportPrivateKeyActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ExportKeystoreActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AssetWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.CreateWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.QuickExchangeActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ChooseBottomLsvelActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.CreateMyWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportByPrivatekeyActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ObserveWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportByCoolWalletActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportByCommemorationActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ImportByKeystoreActivity" />

        <service android:name="com.qingyun.mvpretrofitrx.mvp.weight.dialog.CommonDialogService" />

        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AddCoinActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.PlatformNoticActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ScanActivity" />
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.NoticeDetailActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.BusinessDetailActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ChooseLanguageActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.NodeSettingActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.MyWebViewActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SupportWebViewActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.CoinUnitActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.WalletManagerActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.PushAndNotifyActivity"/>

        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.AssetReviewActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.BusinessLogActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.ScanQrCodeActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.SearchActivity"/>
        <activity android:name="com.qingyun.mvpretrofitrx.mvp.activity.WebActivity"/>
    </application>

</manifest>